.Backimg {
  display: flex;
  width: 100%;
  height: 550px;
  margin-top: 90px;
}

/* .selldiv {
  display: flex;
  background-color: white;
  width: 500px;
  height: 400px;
  margin: auto;
  margin-right: 100px;
  border-radius: 20px;
  box-shadow: 0 24px 64px #26214a1a;
} */

.sell-item-form {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 200px; */
  margin: auto;
}

.selliteminput {
  width: 100%;
  max-width: 220px;
  height: 20px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  margin-top: -20px;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.selliteminput:hover {
  border: 2px solid rgb(117, 176, 243);
  box-shadow: 0px 0px 20px -17px;
}

.selliteminput:active {
  transform: scale(0.95);
}

.selliteminput:focus {
  border: 2px solid rgb(117, 176, 243);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.Sellitem-Placeholder {
  display: flex;
  font-size: 18px;
  font-family: Poppins;
}

.sd1 {
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: 20px;
  margin-bottom: 350px;
  font-size: 18px;
}

.sellcardiv {
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 400px;
  margin: auto;
  margin-right: 100px;
  border-radius: 20px;
  box-shadow: 0 24px 64px #26214a1a;
  flex-direction: column;
  margin-top: -470px;
}

.sell-item-form {
  /* display: flex; */
  /* align-items: center; */
  /* margin: auto; */
  /* justify-content: center; */
  margin-top: -330px;
  margin-left: 130px;
}

.Prebutton {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
  background-color: #ff00004b;
  font-family: 'Nunito', sans-serif;

  border-radius: 20px;
  /* letter-spacing: 1px; */
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background-color: rgb(196, 196, 196);

  /* background: #fff; */
}

.Prebuttonutton > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.Prebutton:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
  color: white;
}

.Prebutton:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
  background-color: red;
  color:white;
  border-radius: 20px;
}
#sssd{
  box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.3);
  width: 600px;
  border-radius: 20px;

}

.sdsd{
  font-family: "Nunito", sans-serif;

}

.Nxtbutton {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
  margin-top: -37px;
  background-color: #eeeeee4b;
  border-radius: 20px;
  /* letter-spacing: 1px; */
  transition: all 0.2s linear;
    font-family: 'Nunito', sans-serif;

  cursor: pointer;
  border: none;
  background-color: rgb(196, 196, 196);
  /* background: #fff; */
}

.Nxtbutton > svg {
  margin-left: 5px;
  margin-right: -5px;
  font-size: 20px;
  transition: all 0.4s ease-out;
}

.Nxtbutton:hover > svg {
  font-size: 1.2em;
  transform: translateX(5px);
}

.Nxtbutton:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
  color: white;
  border-radius: 20px;
  background-color: red;
}


.prevbut{
  font-family: 'Nunito', sans-serif;
}
.sellsubmit {
  width: fit-content;
  height: 45px;
  background: #ffffff0d;
  border-radius: 8px;
  border: 2px solid #334b79;
  font-size: 15px;
  font-weight: bold;
  color: #334b79;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: relative;
  overflow: hidden;
  padding: 10px 25px;
  z-index: 1;
  margin-left: 70px;
  margin-top: 30px;
}

.sellsubmit:before {
  width: 50%;
  height: 100%;
  content: "";
  margin: auto;

  position: absolute;
  top: 0%;
  left: -50%;
  background: #334b79;
  transition: all 0.5s ease;
  z-index: -1;
}

.sellsubmit:after {
  width: 50%;
  height: 100%;
  content: "";
  margin: auto;

  position: absolute;
  top: 0%;
  left: 100%;
  background: #334b79;
  transition: all 0.5s ease;
  z-index: -1;
}

.sellsubmit:hover {
  color: white;
  cursor: pointer;
}

.sellsubmit:hover:before {
  top: 0;
  left: 0;
}

.sellsubmit:hover:after {
  top: 0;
  left: 50%;
}
