			<div class="pmbrand">
				<a class="navbar-brand stretched-link" href="/">
					<img  style="width:100%;height: 70px;" src="../public/images/pc.png"><span class="logo-market"></span>
				</a>
				<div class="logobyline">Buy Verified Pets</div>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<i class="bi bi-justify menuicon"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav ml-auto">
					<!-- <li class="nav-item">
						<a class="nav-link" href="/verification">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/verif-register">Register</a>
					</li> -->
					<li class="nav-item">
						<a class="nav-link" href="/verif-veriflist">Verification List</a>
					</li>
				</ul>
			</div>
