<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
	<meta name="theme-color" content="#002f34">
    <title>PetChain  - a blockchain enabled pet marketplace</title>
	<link href="../public/css/bootstrap.min.css" rel="stylesheet">
	<link href="../public//css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="../public/css/bootstrap-icons.css">
	<link rel="stylesheet" href="../public/sweetalert2/sweetalert2.min.css">

<script>

function validate()
{
	var Frm = document.PasuMarketForm;
	
	if(Frm.lstMedicalCert.value=="")
	{
		Swal.fire({
		  text: "Select value for Medical Certificate",
		  didClose: () => {
			Frm.lstMedicalCert.focus();
			},
		})
		
		return false;
	}

	if(Frm.lstVaccinationCert.value=="")
	{
		Swal.fire({
		  text: "Select value for Vaccination Certificate",
		  didClose: () => {
			Frm.lstVaccinationCert.focus();
			},
		})
		
		return false;
	}

	if(Frm.txtActiveness.value=="")
	{
		Swal.fire({
		  text: "Enter value for parameter 'Activeness'",
		  didClose: () => {
			Frm.txtActiveness.focus();
			},
		})
		
		return false;
	}

	if(Frm.txtColour.value=="")
	{
		Swal.fire({
		  text: "Enter value for parameter 'Colour'",
		  didClose: () => {
			Frm.txtColour.focus();
			},
		})
		
		return false;
	}

	if(Frm.vaccine.value=="")
	{
		Swal.fire({
		  text: "Select value for parameter 'Vaccination Status'",
		  didClose: () => {
			Frm.vaccine.focus();
			},
		})
		
		return false;
	}

	if(Frm.txtWeight.value=="")
	{
		Swal.fire({
		  text: "Enter value for parameter 'Weight'",
		  didClose: () => {
			Frm.txtWeight.focus();
			},
		})
		
		return false;
	}
	else
	{
		var regex=/^[0-9]+$/;
		if(!(Frm.txtWeight.value.match(regex))) 
		{
			Frm.txtWeight.focus();

			Swal.fire({
			  text: "Only numbers are accepted for weight",
			  didClose: () => {
				Frm.txtWeight.focus();
				},
			})

			return false;
		}

		if(parseInt(Frm.txtWeight.value) > 200)
		{
			Frm.txtWeight.focus();

			Swal.fire({
			  text: "Weight can not be greater than 200 KGs",
			  didClose: () => {
				Frm.txtWeight.focus();
				},
			})

			return false;
		}
	}

	if(Frm.txtAge.value=="")
	{
		Swal.fire({
		  text: "Enter value for parameter 'Age'",
		  didClose: () => {
			Frm.txtAge.focus();
			},
		})
		
		return false;
	}
	else
	{
		var regex=/^[0-9]+$/;
		if(!(Frm.txtAge.value.match(regex))) 
		{
			Frm.txtAge.focus();

			Swal.fire({
			  text: "Only numbers are accepted for age",
			  didClose: () => {
				Frm.txtAge.focus();
				},
			})

			return false;
		}

		if(parseInt(Frm.txtAge.value) > 50)
		{
			Frm.txtAge.focus();

			Swal.fire({
			  text: "Age can not be greater than 50 Years",
			  didClose: () => {
				Frm.txtAge.focus();
				},
			})

			return false;
		}
	}
	
	if(Frm.lstSex.value=="")
	{
		Swal.fire({
		  text: "Select value for parameter 'Sex'",
		  didClose: () => {
			Frm.lstSex.focus();
			},
		})
		
		return false;
	}

	if(Frm.txtDiseaseTolerance.value=="")
	{
		Swal.fire({
		  text: "Enter value for parameter 'Disease Tolerance'",
		  didClose: () => {
			Frm.txtDiseaseTolerance.focus();
			},
		})
		
		return false;
	}

	if(Frm.txtBreed.value=="")
	{
		Swal.fire({
		  text: "Enter value for parameter 'Breed'",
		  didClose: () => {
			Frm.txtBreed.focus();
			},
		})
		
		return false;
	}

	ActivateSpinner();
}


function viewFile(FileName, FileHash)
{
	document.getElementById('FileViewModelBody').innerHTML="<iframe id='iframe_FileView' src='' frameborder='0' height='400px' width='100%'></iframe>"
	document.getElementById('iframe_FileView').src="./verifViewFile?FileName="+FileName+"&FileHash="+FileHash;
	$('#FileViewModel').modal('show');
}


function ActivateSpinner()
{
	$('#SpinnerModal').modal({keyboard: false, backdrop:'static', show:true});
}


</script>
	
</head>

<body class="d-flex flex-column bodyh100 bglight">
    
<header>
	<nav class="navbar navbar-expand-md navbar-light fixed-top custom-navbar">
		<div class="container">
			<% include verif-header %>
		</div>
	</nav>
</header>

<main role="main" class="flex-shrink-0">
<form novalidate name="PasuMarketForm" method="post" action="/verif-verifform" onsubmit="return validate()">
	<div class="container header-container">

		<div class="row justify-content-center msearch-row">
			<div class="col-md-6 col-lg-6">

			

				<div class="card signin-card margintop20">
					<div class="card-header signin-card-header">
						Pet Description
					</div>
					<div class="card-body signin-card-body">

						<table class="table table-sm table-bordered">
						  <tbody>
							<tr>
								<td width="40%" class="veriflist-table-td-l">Breed <i class="bi bi-star-fill starmark"></i></td>
								<td width="50%" class="veriflist-table-td-r">
								  <input type="text" class="form-control" id="txtBreed" Name="txtBreed" value="">
								</td>
							  </tr>
							  <tr>
								<td width="40%" class="veriflist-table-td-l">Colour <i class="bi bi-star-fill starmark"></i></td>
								<td width="50%" class="veriflist-table-td-r">
								  <input type="text" class="form-control" id="txtColour" Name="txtColour" value="">
								</td>
							  </tr>
								<tr>
									<td width="40%" class="veriflist-table-td-l">Age<i class="bi bi-star-fill starmark"></i></td>
									<td width="50%" class="veriflist-table-td-r">
									  <input type="text" class="form-control" id="txtAge" Name="txtAge" value="">
									</td>
								  </tr>
								  <tr>
									<td width="40%" class="veriflist-table-td-l">Gender<i class="bi bi-star-fill starmark"></i></td>
									<td width="50%" class="veriflist-table-td-r">
										  <select class="form-control" id="lstSex" name="lstSex">
											  <option value="" selected>Select</option>
											  <option value="male">Male</option>
											  <option value="female">Female</option>
	  
										  </select>
									</td>
								  </tr>
								  <tr>
									<td width="40%" class="veriflist-table-td-l">Weight <i class="bi bi-star-fill starmark"></i></td>
									<td width="50%" class="veriflist-table-td-r">
									  <input type="text" class="form-control" id="txtWeight" Name="txtWeight" value="">
									</td>
								  </tr>
								  <tr>
							  <td width="40%" class="veriflist-table-td-l">Activeness <i class="bi bi-star-fill starmark"></i></td>
							  <td width="50%" class="veriflist-table-td-r">
								<input type="text" class="form-control" id="txtActiveness" Name="txtActiveness" value="">
							  </td>
							</tr>
							<tr>
								<td width="40%" class="veriflist-table-td-l">Temperament <i class="bi bi-star-fill starmark"></i></td>
								<td width="50%" class="veriflist-table-td-r">
								  <input type="text" class="form-control" id="txtTemperament" Name="txtTemperament" value="">
								</td>
							  </tr>
							<tr>
							
							
							<tr>
								<td width="40%" class="veriflist-table-td-l">Last Vaccination Name  <i class="bi bi-star-fill starmark"></i></td>
								<td width="50%" class="veriflist-table-td-r">
								  <input type="text" class="form-control" id="txtvaccinationname" Name="txtvaccinationname" value="">
								</td>
							  </tr>
							  <tr>
								<td width="40%" class="veriflist-table-td-l">Last Vaccination Date  <i class="bi bi-star-fill starmark"></i></td>
								<td width="50%" class="veriflist-table-td-r">
								  <input type="date" class="form-control" id="txtvaccinationDate" Name="txtvaccinationDate" value="">
								</td>
							  </tr>
							<!-- <tr>
								<td width="40%" class="veriflist-table-td-l">Vaccination Status<i class="bi bi-star-fill starmark"></i></td>
								<td width="50%" class="veriflist-table-td-r">
									  <select class="form-control" id="vaccine" name="vaccine">
										  <option value="" selected>Select</option>
										  <option value="vaccinated">Vaccinated</option>
										  <option value="not_vaccinated">Not Vaccinated</option>
  
									  </select>
								</td>
							  </tr> -->
							
							
							
							<tr>
								<td width="40%" class="veriflist-table-td-l">Owner Name <i class="bi bi-star-fill starmark"></i></td>
								<td width="50%" class="veriflist-table-td-r">
								  <input type="text" class="form-control" id="txtOwnerName" Name="txtOwnerName" value="">
								</td>
							  </tr>
							  <tr>
								<td width="40%" class="veriflist-table-td-l">Owner Address <i class="bi bi-star-fill starmark"></i></td>
								<td width="50%" class="veriflist-table-td-r">
								  <input type="text" class="form-control" id="txtOwnerAddress" Name="txtOwnerAddress" value="">
								</td>
							  </tr>
							  <tr>
								<td width="40%" class="veriflist-table-td-l">Owner Contact Number <i class="bi bi-star-fill starmark"></i></td>
								<td width="50%" class="veriflist-table-td-r">
								  <input type="text" class="form-control" id="txtOwnerNumber" Name="txtOwnerNumber" value="">
								</td>
							  </tr>
						
						

						  </tbody>
						</table>

					</div>
				</div>


					<div class="textAlignCenter margintop20">
						<input type="hidden" name="hdnPostID" value="<%= data._id %>">

						<button type="submit" class="btn pm-btn btn-width-80p">
							Submit
						</button>
					</div>
			
			</div>
		</div>

	</div>
</form>
</main>

<!-- FileView Modal Starts here -->

<div class="modal fade" id="FileViewModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-6 text-center">

		  <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
			  <div class="modal-body" id="FileViewModelBody">
					
			  </div>
			  <div class="modal-footer model-add-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  </div>
			</div>
		  </div>
		  
		</div>
	</div>
</div>

<!-- FileView Modal Ends here -->

<!-- Spinner Modal Starts here -->

<div class="modal fade" id="SpinnerModal" tabindex="-1" aria-labelledby="SpinnerModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="pm-card-01-header">We are writing verification information into Blockchain.</div>
		<div class="pm-card-01-header margintop15">Please Wait ....</div>
		<div class="uploadspinner">
			<div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
				<span class="sr-only">Loading...</span>
			</div>		
		</div>
      </div>
    </div>
  </div>
</div>

<!-- Spinner Modal Ends here -->

<footer class="footer mt-auto myfooter">
	<% include footer %>
</footer>


<script src="../public/js/jquery-3.5.1.slim.min.js"></script>
<script src="../public/js/popper.min.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/sweetalert2/sweetalert2.min.js"></script>

</body>
</html>
